.News {
  &-section {
    background-color: var(--default-color);
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    & .News-title {
      text-align: center;
    }
  }
  &-container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    @media screen and (min-width: 850px){
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-items: flex-start;
      max-height: 1200px;
    }
    @media screen and (min-width: 64em){
      max-height: 1000px;
    }
  }
  &-title {
    text-transform: uppercase;
    color: var(--first-color);
    font-size: var(--t1);
    margin: 2rem auto 1rem auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &-item {
    background: #FFF;
    width: 95%;
    height: auto;
    box-shadow: var(--box-shadow-xs);
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 4px;
    @media screen and (min-width: 850px){
      width: 45%;

    }
    @media screen and (min-width: 64em){
      width: 30%;

    }
  }
  &-name {
    text-transform: capitalize;
    margin-bottom: 1rem;
    color: #222;
    font-size: var(--t2);
    font-weight: 500;
  }
  &-separation {
    background-color: #aaa;
    width: 100%;
    height: 1px;
    margin-bottom: 1rem;
  }
  &-text {
    font-size: var(--base-size);
    line-height: 160%;
    letter-spacing: 0.045rem;
    margin-bottom: 1rem;
    color: #222;
  }
  &-date {
    font-size: var(--s1);
    color: #888;
  }
}
