*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --default-color: #EDEDED;
  --first-color: #463CFF;
  --first-color-light: #896aff;
  --first-color-dark: #362ec4;
  --second-color: #FF7F34;
  --third-color: #59CC42;
  --t1: 1.999rem;
  --t2: 1.414rem;
  --base-size: 0.85rem;
  --s1: 0.707rem;
  --s2: 0.5rem;
  --timing-func-one: cubic-bezier(0.23, 1, 0.32, 1);
  --timing-fun-two: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --logo-size: 130%;

  --header-height: 4rem;
  @media screen and(min-width: 850px){
    --logo-size: 100%;
    --header-height: 6rem;
    --base-size: 1rem;

  }
  @media screen and(min-width: 64em) {
    --header-height: 7rem;
    //--logo-size: 50%;
  }
}

body {
  font-size: 100%;
  font-family: 'Libre Franklin';
}

@mixin test($color1: #858585, $color2: black) {
  background-color: $color1;
  border: solid 2px $color2;
}
