.Banner {
  &-container {
    box-sizing: content-box;
    width: 100%;
    max-width: 1600px;
    height: auto;
    background-color: var(--first-color);
    text-align: center;
    color: var(--default-color);
    padding-bottom: 1.5rem;
  }

  &-title {
    text-transform: uppercase;
    font-size: var(--t2);
    padding-top: 2rem;
    box-sizing: content-box;
  }
  &-decoration {
    box-sizing: content-box;
    width: 80px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 1rem auto 2rem auto;
    &-item {
      width: 10px;
      height: 10px;
      background-color: var(--second-color);

    }
  }
  &-information {
    font-size: var(--base-size);
    line-height: 160%;
    letter-spacing: 0.07rem;
    margin: 0 auto;
    max-width: 500px;

  }

  &-nextTitle {
    text-transform: uppercase;
    margin-top: 0.8rem;
    font-size: var(--t2);

  }
  &-input {
    width: 40%;
    min-width: 200px;
    height: 2rem;
    box-sizing: content-box;
    padding: .2rem 1rem .2rem 1rem;
    margin: 1rem 0 1rem 0;
    background-color: var(--default-color);
    //border: solid 1px red;
    border: none;
    outline: none;
    font-family: var(--font-main);
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0);
    transition: box-shadow 0.3s ease-out;
    border-radius: 4px;
    &:focus {
      outline: none;
      box-shadow: 0px 0px 0px 2px var(--second-color);
    }
    @media screen {

    }
  }
}
.Button-main {
  display: inline-block;
  background-color: var(--second-color);
  text-decoration: none;
  font-weight: 600;
  padding: .5rem 3rem .5rem 3rem;
  margin: 0.8rem auto;
  box-sizing: content-box;
  border-radius: 5px;
  border: solid transparent 3px;
  color: var(--default-color);
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: var(--second-color-dark);
  }
  &:active {
    border-color: var(--second-color);
    background-color: var(--second-color);
  }
}
