.Controller {
  &-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &-action {
    //@include test();
    width: 60px;
    height: 100%;
    display: flex;
    font-size: 3rem;
    color: var(--default-color);
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    transition: color 0.2s ease-in-out;
    z-index: 1;
    &:hover {
      color: var(--first-color);
      cursor: pointer;
    }
    &:active {
      color: var(--first-color);
    }
  }
  &-pagination {
    //@include test();
    width: 100px;
    height: 20px;
    align-self: flex-end;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    &-item {
      //@include test();
      //flex-basis: 0;
      //flex-grow: 1;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: var(--first-color-dark);
      opacity: 0.5;
      transition: transform,opacity 0.5s var(--timing-fun-two);
      &:hover {
        transform: scale(1.3);
        opacity: 1;
      }
      &.is-active {
        opacity: 1;
      }
    }
  }
}
