@import "../helpers/Basic-reset.scss";
.Slider {
  &-container {
    //@include test();
    width: 100%;
    height: 280px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    z-index: 10;
    margin-top: var(--header-height);
    @media screen and(min-width: 850px){
      height: 550px;
      margin-top: 0px;
    }
  }
  &-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 9, 26, 0.65);
    z-index: -1;
  }
  &-action {
    //@include test();
    width: 60px;
    height: 100%;
    display: flex;
    font-size: 3rem;
    color: var(--default-color);
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    transition: color 0.2s ease-in-out;
    z-index: 100;
    &:hover {
      color: var(--first-color);
      cursor: pointer;
    }
    &:active {
      color: var(--first-color);
    }
  }
  &-pagination {
    //@include test();
    width: 100px;
    height: 20px;
    align-self: flex-end;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 101;
    &-item {
      //@include test();
      //flex-basis: 0;
      //flex-grow: 1;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: var(--first-color-dark);
      opacity: 0.5;
      transition: transform,opacity 0.5s var(--timing-fun-two);
      &:hover {
        transform: scale(1.3);
        opacity: 1;
      }
      &.is-active {
        opacity: 1;
      }
    }
  }
  &-img {
    //@include test();
    position: absolute;
    z-index: -80;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 340px;
    background-repeat: no-repeat;
    background-position: 20% 40%;
    background-size: auto;
    background-color: var(--default-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    overflow-x: hidden;
    @media screen and(min-width: 850px){
      padding: var(--header-height) 120px 0 120px;
      justify-content: center;
      background-position: 50% 17%;
      background-size: 110%;
    }
    &.item-0 {
      background-color: var(--default-color);
      background-image: url("../../assets/img/item-1.jpg");
      z-index: 13;
    }
    &.item-1 {
      background-color: var(--default-color);
      z-index: -13;
    }
    &.item-2 {
      background-color: var(--default-color);
      // background-image: url("./img/mision.jpg");
      z-index: -12;
    }
    &.item-3 {
      background-color: var(--default-color);
      // background-image: url("./img/vision.png");
       z-index: -11;
      // @media screen and (min-width: 850px){
      //   background-position: 30% 75%;
      // }
    }
    &.item-4 {
      background-color: var(--default-color);
      // background-image: url("./img/caracteristicas.jpg");
       z-index: -20;
      // @media screen and (min-width: 850px){
      //   background-position: 0% 10%;
      // }
    }
  }
  &-title {
    @media screen and (min-width: 850px){
      align-self: flex-start;
      font-size: var(--t1);
      margin-bottom: 50px;
    }

  }
  &-text {
    //@include test();
    text-align: center;
    font-weight: 400;
    font-size: var(--s1);
    width: 70%;
    letter-spacing: 0.075rem;
    line-height: 0.9rem;
    @media screen and (min-width: 850px){
      width: 600px;
      align-self: flex-start;
      font-size: var(--base-size);
      letter-spacing: 0.075rem;
      line-height: 1.4rem;
      text-align: initial;
      margin-bottom: 45px;
    }
  }
  &-button {
    text-decoration: none;
    position: relative;
    //display: block;
    z-index: 950;
    width: 200px;
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    // box-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: var(--first-color);
    color: #ecf0f1;
    transition: background-color .3s linear;
    border-radius: 5px;
    box-sizing: content-box;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0,0,0,0);
    cursor: pointer;
    @media screen and(min-width: 850px){
      align-self: flex-start;
    }
    &:hover {
      //background-color: lighten(#59CC42, 0.5);
      background-color: var(--first-color-dark);
    }
    &:focus {
      border-color: var(--first-color);
    }
    & span {
      color: #ededed;
      font-weight: 700;
      text-align: center;
      display: block;
      padding: 12px 24px;
      z-index: 980;
      cursor: pointer;
    }
  }
}
