<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Blog">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="HandheldFriendly" content="true">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
  <link rel="canonical" href="https://kindergarden-e1f7f.firebaseapp.com/">
  <!--Para google+-->
  <link rel="author" href="https://plus.google.com/112455610659481296930" />
  <link rel="publisher" href="https://plus.google.com/112455610659481296930" />
  <meta itemprop="name" content="Grimms Kindergarden">
  <meta itemprop="description" content="Jardin infantil de alta calidad en Bogotá Colombia">
  <meta itemprop="image" content="./assets/img/og-image.jpg">

  <!--Open graph para Facebook-->
  <meta property="og:title" content="Grimms Kindergarden"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://kindergarden-e1f7f.firebaseapp.com/"/>
  <meta property="og:description" content="Jardin infantil de alta calidad en Bogotá Colombia" />
  <meta property="og:image" content="./assets/img/og-image.jpg"/>
  <!--Para twiter-->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Jacob62213451">
  <meta name="twitter:title" content="Grimms Kindergarden">
  <meta name="twitter:description" content="Jardin infantil de alta calidad en Bogotá Colombia">
  <meta name="twitter:creator" content="@Jacob62213451">
  <meta name="twitter:image:src" content="./assets/img/og-image.jpg">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Source+Code+Pro:200,300,400,500,600,700,900" rel="stylesheet">

</head>
<body>
  <div id="root"></div>
</body>
</html>
